body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f6f6f6;
	color: #505050;
	margin: 0;
	padding: 0;
	text-align: center;
}
a {
	color: #f6f6f6;
}
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	@media screen and (max-height: 580px) {
		display: none;
	}
}
svg { 
	fill: #505050;
}
svg:hover { 
	fill: #0099FF; 
}
.information {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@media screen and (min-height: 500px) {
		height: calc(100vh - 20px);
	}
}
.icon {
	width: 48px;
	height: 48px;
}
.photo {
	max-width: 200px;
	max-height: 250px;
	padding-top: 10px;
	opacity: 0.9;
	border-radius: 5%;
	@media screen and (max-width: 200px) {
		display: none;
	}
}
.name {
	padding-top: 20px;
	font-size: 35px;
	font-weight: 700;
}
.subheading {
	padding: 10px;
	font-size: 18px;
	font-weight: 700;
}
.description {
	padding: 10px;
	font-size: 16px;
	max-width: 550px;
}
.icons {
	padding-top: 20px;
}
